html,body { 
    margin:0; padding:0; height:100%; width:100%; overflow: hidden;
    
}

#editor {
    height: 80%;
    width:50%;
    display:inline-block;
}

#container {
    position: absolute;
    display: block;
    height:auto;
    width:auto;
    white-space : nowrap; 
    overflow : hidden;
    position:relative;
    /* margin:30px; */
    /* margin-lefT: 20px; */
    /* border: 4px solid black; */
    z-index: 1;

}

#iframe {
    height:80%;
    display:inline-block;
    width:50%;
}
#menu {
    position: relative;
    height: 5%;
    display: block;
    width: 20%;
    /* margin: 30px; */
    transition: 200ms;
    /* background: #bdc3c7; */
    /* border: 2px solid black; */
    z-index: 2;
}
/* a:hover {
    transform: scale(1.3);
} */

a {
    display: inline-block;
    transition: 200ms;
    margin-left: 10px;
}
/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket { display: none }
